* {
    margin: 0; 
    padding: 0; 
    
}

body {
    background-color:rgba(247, 234, 224, 0.967) ;
}

.preview {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #5a0e03;
    position: relative;
    z-index: 1;
    color: aliceblue;
    justify-content: center;
}

.preview-title {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    

}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

ul {
    padding: 5px;
    list-style: none;
    margin: 20px;
}

header {
    background-color:rgba(247, 234, 224, 0.967) ;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(53, 29, 3);
    font-family:Arial, Helvetica, sans-serif;
}

header ul li a:hover {
     background: rgb(84, 18, 3);
     color: rgb(245, 242, 239);
}



.img-block {
    width: 100vw;
    height: calc(100vh - 128px);
    position: relative;
    object-fit: cover;
    
}

.brewing {
    width: 100%;
    height: 100%;
}

.titles {
    flex-direction: column;
    display: flex;
    align-items: center;

}

.title {
    color: rgb(255, 255, 255);
    font-size: 9vw;
    font-size: 12vw;
}


.titles-layout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.second-title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 6vw;
}

.navigation {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation *{
    margin-right: 40px;
}

.catalog {
    background-color:rgba(247, 234, 224, 0.967)  ;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    
}

 .card {
    width: 228px;
    border: 1px solid rgb(89, 51, 7);
    background-color: rgba(238, 229, 220, 0.967);
 }


.card-img {
    object-fit: fill;
    display: flex;
    width: 100%;
    height: 233px;
    border-bottom:1px solid rgb(72, 46, 16) ;
    
}

.card-title {
    font-size: 15px;
    color: rgb(83, 43, 11);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 14px;
}

.weight {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 10px;
    padding: 65px 17px;
    color: brown
}

.price {
    margin-right: 20px;
    font-family: Arial, sans-serif;  
    font-size: 20px;
}

.info {
    padding: 20px 18px;
    border-bottom: 1px solid rgb(72, 46, 16);
}

.button {
    padding: 17px 42px ;
    width: 100%;
    background-color:rgba(238, 229, 220, 0.967);
    color: #442711;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
}

.button:hover {
    background-color: rgba(233, 221, 211, 0.967);
    font-size: 17px;
}

.logo-line {
    background-color: rgba(247, 234, 224, 0.967) ;
    width: 100%;
}

.logos {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 84px;
    justify-content: space-between;
}

.Bestsellers {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #442711;
}

.cafe-block {
    display: flex;
    background-color: rgba(91, 19, 18, 1);
    align-items: center;
}

.cafe-info {
  display: flex;
  color: rgba(252, 242, 242, 1);
  flex-direction: column;
  flex: 1;
  padding: 120px 60px;
  align-items: center;
}

.cafe-img {
    width: 100vw;
    height: 100%;
    flex: 1;
    object-fit: cover;
}

.info-cafe-btn {
    background-color: rgba(91, 19, 18, 1) ;
    border: 1px solid  rgba(252, 242, 242, 1);
    color: rgba(252, 242, 242, 1);
    padding: 22px 55px;
    font-size: 20px;
    display: flex;
    margin-top: 80px ;
    
}

.coffe-score {
    width: 100%;
    display: flex;
    height: 815px;
    justify-content: center;
    position: relative;
}

.rating-cards {
    display: flex;
    width: 1164px;
    position: absolute;
    padding: 293px 139px;
    justify-content: space-around;
}

.rating-card {
    display: flex;
    width: 221px;
    height: 225px;
    flex-direction: column;
    
}

.rating-title {
   font-size: 15px;
   color: rgb(83, 43, 11);
   text-align: center;
}

.discription {
    text-align: center;
    padding: 15px 0px 0px;
}

.little-logo {
    flex: 1;
    object-fit: none;
}

.little-logo2 {
    flex: 1;
    object-fit: contain;
    padding: 0px 83px; 
}

.rating-text {
    flex-direction: column;
    flex: 1;
    
}

.little-logo3 {
    padding: 0px 67px;
    flex: 1;
    object-fit: contain;
}

.journal {
    width: 100%;
    background-color: rgba(91, 19, 18, 1);
    display: flex;
    height: 451px;
}

.journal-title {
    flex: 1;
    color: rgba(252, 242, 242, 1) ;
    font-size: 30px;
    align-items: flex-start;
}

.indus-img {
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: 530px;

}

.journal-btn {
    background-color: rgba(91, 19, 18, 1);
    padding: 20px 55px;
    color: aliceblue;
}





