* {
    margin: 0; 
    padding: 0; 
    font-family: Abhaya Libre Medium;
}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

ul {
    padding: 5px;
    list-style: none;
    margin: 20px;
}

header {
    background-color: rgba(205, 193, 183, 0.967);
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(53, 29, 3);
    font-family:Arial, Helvetica, sans-serif;
}

header ul li a:hover {
     background: rgb(84, 18, 3);
     color: rgb(245, 242, 239);
}



.img-block {
    width: 100vw;
    height: calc(100vh - 128px);
    position: relative;
    object-fit: cover;
    
}

.brewing {
    width: 100%;
    height: 100%;
}

.titles {
    flex-direction: column;
    display: flex;
    align-items: center ;

}

.title {
    color: rgb(255, 255, 255);
    font-size: 7.5vw;
}

.titles-layout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.second-title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 6vw;
}

.navigation {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation *{
    margin-right: 40px;
}

.catalog {
    background-color: rgba(205, 193, 183, 0.967) ;
    padding: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

 .card {
    width: 228px;
    box-shadow: 10px 10px 40px 20px #44271157;
    border: 3px solid rgb(36, 20, 2);
    background-color: aliceblue;
 }


.card-img {
    object-fit: contain;
}

.card-title {
    font-size: 15px;
    color: rgb(83, 43, 11);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weight {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 10px;
    padding: 65px 17px;
    color: brown
}

.price {
    margin-right: 20px;
    font-family: Arial, sans-serif;  
    font-size: 20px;
}

.info {
    padding: 20px 18px;
    border-bottom: 3px solid rgb(36, 20, 2);
}

.button {
    padding: 17px 42px ;
    width: 100%;
    background-color: aliceblue;
    color: #442711;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
}





